/* Custom CSS */

body {
	background-image: url('..\\img\\notebookBG.png');
	background-size: 100% 360%;
	background-repeat: no-repeat;
}

#wrapper {
	width:100%;
	margin: 0;	
	position: relative;
}

#title {
	width: 340px;
	height: 200px;
	float: left;
	padding: 2px;
	margin-left: 11.7%;
	/*position: relative;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 40px;	*/
}

div.date {
	width: 12%;
	margin-top: 185px; /*145%*/
	padding-right: 20px;
	padding-bottom: 2px;
	float: right;
	text-align: left;
	font-size: 12px;
}
span.date {
	padding-right: 5px;
	padding-left: 5px;
	text-align: right;
	font-size: 12px;
}


.clearBoth {
	clear: both;
}

.navContainer {
	width: 100%;
	margin-left: 0px;
	float: right;

}
.row {
		padding-top: 5px;
		padding-bottom: 5px;
}
#sortByText {
	position: relative;
	margin-top: 8px;
	width: 12%;
	float: left;
}
#buttonGroup {

}
#sortByText p {
	color: white;
	margin: 0px;
	font-weight: 600; 
}

th #checked {
    text-decoration: line-through;
}
